<h1>Sessions#new login</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<%= form_with model: @sessions, class: "nifty_form" do |f| %>
<div>
<p>User name</p>
<%= f.text_field :name %>
</div>
<div>
<p>Password</p>
<%= f.password_field :password %>
</div>
<div>
<%= f.submit "Login"%>
</div>
<% end %>
