<div class= "login-box">
<%= form_with model: @sessions, class: "nifty_form" do |f| %>
<div class="submit-box">
<h2 class="submit-box">User name</h2>
<%= f.text_field :name, class: "submit-box" %>
</h2>
<div class="submit-box">
<h2 class="submit-fields">Password</h2>
<%= f.password_field :password, class: "submit-box" %>
</h2>
</div>
<%= f.submit "Login", class: "submit-box"%>
<% end %>
</div>