.background{
  margin: 0;
    background-image: url(https://res.cloudinary.com/dilwtauny/image/upload/v1593225263/roms_images/img-noise-361x370_vsennj.png);
  }
  .conteiner{
    text-align: center;
  }
  article{
    margin-top: 30px;
    height: 180px;
  }
  
  .rom-name{
    font-size: initial;
    width: 200px;
    text-align: center;
    margin: auto;
  }

  .rom-image{
    width: 180px;
    text-align: center;
  }
  
  .show-section{
    text-align: center;
    margin-top: 10px;
  }
  
  .rom-image-show{
    width: 200px;
  }
  
  header{
    padding-top: 15px;
    text-align: center;
    background-color: #73bc95;
  }
  
  header a{
    font-size: large;
    font-weight: bold;
    color: #3a62bc;
    padding-bottom: 20px;
    padding-right: 20px;
  }
  
  header h2{
    font-size: larger;
    font-weight: bold;
    color: #3d3e42;
  }
  
  header p{
    font-size: smaller;
  }
  header .advertisement{
    font-size: large;
    margin-top: 0px;
    padding-top: 60px;
  }
  
  .logo-div{
    margin: 0;
  }

  header .banner{
    background-color: #fddc4c;
    height: 150px;
  }
  
  @media (max-width: 379px){
  
    header .logo{
        padding-bottom: 10px;
        width: 40px;
        text-align: center;
    }
    
  }
  
  @media (min-width: 380px) and (max-width: 899px){
    section{
        height: 1000px;
    }
    .conteiner{
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    article{
        width: 50%;
        float: left;
        margin-right: auto;
        max-width: 560px;
    }
  
    header{
        text-align: center;
    }
  
    header .logo{
        padding-bottom: 10px;
        width: 45px;
        text-align: center;
    }
  }
  
  @media (min-width: 900px){
    .conteiner{
        text-align: center;
        width: 820px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    .rom-image{
        width: 180px;
    }
    .rom-name{
        width: 180px;
        font-size: small;
    }
    article{
        float: left;
        width: 200px;
        //margin-right: auto;
        max-width: 550px;
        margin-bottom: 10px;
    }
  
    header .logo{
        padding-bottom: 10px;
        width: 47px;
        text-align: center;
    }
  }